@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


*{
    padding: 0%;
    margin:0%;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;

}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    min-height: 10vh;
    padding: 50px;
    font-variant: small-caps;
    font-size: 7vw;
    
}
header > p {
    padding-bottom: 50px;

}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
header a:hover, footer a:hover {
    text-decoration: underline;
    color: white;
}
section {
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 33px;
    font-family: 'Sriracha', cursive;
    font-size: 4vw;

}

section.normal {
    background-color: white;
    color: black;
    
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658) ;
   background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 8px;
    text-shadow: 1px 1px 0px black;
    
    
    
    
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}
section#imagem01{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    
}
section#imagem02 {
background-image: url('../imagens/background002.jpg');
background-size:cover ;
}

footer> p { 
    color: white;
 }